@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

.addproduct {


    .Box {
        max-width: 100%;

        padding: 30px;
        background: $sliderbg;
        color: $colorwhite;

        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

        .span {
            position: relative;
            display: inline-block;
            margin: 30px 10px;
            width: 100%;
        }

        .ReactQuill {
            min-height: 200px;
            background-color: $colorwhite;

            .ql-container {
                border-left: 1px solid red;
                border-right: 1px solid red;
                border-bottom: 1px solid red;
                height: 200px;
               
            }
            ::-webkit-scrollbar {
                width: 0px;
              }
        }

    }

    .gate {
        display: inline-block;
        width: 100%;
        padding: 10px 0 10px 15px;
        font-family: "Open Sans", sans;
        font-weight: 400;
        color: $color-highlight;
        background: #efefef;
        border: 0;
        border-radius: 3px;
        outline: 0;
        text-indent: 65px; // Arbitrary.
        transition: all .3s ease-in-out;

        &::-webkit-input-placeholder {
            color: #efefef;
            text-indent: 0;
            font-weight: 300;
        }

        +label {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 15px;
            text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
            background: $color-highlight;
            transition: all .4s ease-in-out;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            transform-origin: left bottom;
            z-index: 99;

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 3px;
                background: $color-highlight;
                transform-origin: left bottom;
                transition: all .4s ease-in-out;
                pointer-events: none;
                z-index: -1;
            }

            &:before {
                background: rgba(3, 36, 41, .2);
                z-index: -2;
                right: 20%;
            }
        }
    }

    span:nth-child(2) .gate {
        text-indent: 85px;
    }

    span:nth-child(2) .gate:focus,
    span:nth-child(2) .gate:active {
        text-indent: 0;
    }

    .gate:hover,
    .gate:focus,
    .gate:active {
        color: $color-highlight;
        text-indent: 0;
        background: $colorwhite;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        &::-webkit-input-placeholder {
            color: #aaa;
        }

        +label {
            transform: rotate(-66deg);
            border-radius: 3px;

            &:before {
                transform: rotate(10deg);
            }
        }
    }
}