$primary: #4B7FFB;
$secondary: #201E62;
$white:#F7F8F9;
$primary-light:#4b7ffb33;
$primary-ex-light:#4b7ffb1a;

$color-1:#2196f333;
$color-2:#fe636e33;
$color-3:#ffdd4033;
$reviews-bg:#ede4fe;

$btn:#4DA9FF;
 
$treatmentcardbg:#f7f8f9;
// dashboardcolor//////////////////////
$color-highlight: #E4A11A;
$nav-link-hover-color: #ff3f40;
$colorwhite:#fff;
$dark :#070A2B;
$sliderbg :#6889bf;
$nav-link-hover-color:#E4A11A;