header {
    font-family: 'Poppins', sans-serif !important;
    padding: 20px 0px;

    nav {
        .navbar-brand {
            img {
                width: 150px;
            }
        }

        ul {
            margin-left: 10rem;

            li {
                a:hover {
                    color: $primary !important;
                    border-bottom: 2px solid $primary;
                    padding-bottom: 0;
                }

                a:active {
                    color: $primary !important;
                    border-bottom: 2px solid $primary;
                    padding-bottom: 0;
                }
            }
        }

        .btn-outline-primary:hover {
            color: $white;
        }
    }
}

@media only screen and (max-width: 769px) {
    header {
        nav {
            ul {
                margin-left: 0px;

            }
        }
    }
}